<div>
    <div class="my-count">
        <i>您还有<em>{{count}}</em>次</i><a>查看中奖记录</a>
    </div>
    <div class="my-list hide">
        <a class="js-dialog-close icon-close"></a>
        <h1>剩余抽奖次数<em>{{count}}</em>次</h1>
        <h2>我的中奖记录</h2>
        <div class="mycount myrecord">
            <table>
                <tbody>
                <tr ng-repeat="record in myRecordList">
                    <td>
                        <div class="c">第{{$index+1}}次. </div>
                        <div class="d">{{record.goods}}</div>
                        <div ng-if="record.used===false" class="use">未使用</div>
                        <div ng-if="record.used===true" class="used">已使用</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bottom"></div>
</div>